<%= link_to 'Delete', project_article_path(@project, @article), :method => 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete the article #{@article.title}?"} %>

<h3><%= @article.title %></h3>
<%= @article.description %>
