<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
<%= link_to 'Delete', project_path(@project), :method => 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete the project #{@project.name}?"} %>

<h3><%= @project.name %></h3>
<%= @project.key %>

<br/>
<br/>