<h2><%= @project.name %></h2>
<div>
  <%= link_to t(:edit), edit_project_path(@project), class: 'btn btn-light border' %>
</div>

<div class="mt-4">
  <label><%= t(:key, :scope => :project) %>: </label>
  <%= @project.key %>
</div>


