trix-editor {
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 12em;
  outline: none;
}

trix-toolbar{
  .trix-button-group--history-tools{
    display: none;
  }

  .trix-button-group--file-tools{
    display: none;
  }
}

trix-editor {
  height: 270px;
}

.trix-content {
  line-height: 1.8;
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}