<%= bootstrap_form_for @form, :url => project_users_path(@project) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4 class="modal-title" id="myModalLabel">Permission User</h4>
  </div>

  <div class="modal-body">
    <%= f.select :user, options_for_select(@users.map { |u| [ u.full_name, u.id ] }) %>
    <%= link_to 'New Account', new_user_invitation_path %>
  </div>

  <div class="modal-footer">
    <%= submit_tag t(:submit), :class => 'btn btn-success' %>
  </div>
<% end %>