<h2><%= t(:title, :scope => [:welcome_wizard, :schedule]) %></h2>

<div class="alert alert-info">
  <%= t(:info_message, :scope => [:welcome_wizard, :schedule]).html_safe %>
</div>

<div class="actions text-right">
  <%= wizard_back_button %>
  <%= wizard_schedule_next_button %>
</div>